{% extends 'base.html.twig' %}
{% trans_default_domain "messages" %}

{% block title %}
    {{ 'title.home'|trans }}
{% endblock title %}

{% block body %}
<div class="jumbotron text-center">
        <h1>{{ 'home.jumbotron.title'| trans }}</h1>
        <p>{{ 'home.jumbotron.sentence'| trans }}</p>
        <p style="text-align:center"><a href="{{ path('property.index') }}" class="btn btn-primary">{% trans %}home.jumbotron.button{% endtrans %}</a></p>
</div>
<div class="container">
        <h2>{{ 'properties.home.title'|trans }}</h2>
        <div class="row">
                {% for property in properties %}
                        {% include 'property/_property.html.twig' %}
                {% endfor %}
        </div>

        <div id="root"></div>
</div>

{% endblock %}
