<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="{{ asset('/build/app.9f1b5724.css') }}"></link>
        {# <link rel="stylesheet" href="{{ asset('/build/app.css') }}"></link> #}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container ok">
    {# <nav class="navbar navbar-expand-lg navbar-custom"> #}
  <a class="navbar-brand" href="{{ path('home') }}">Mon Agence</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item pull-right">
        <a class="nav-link {% if current_menu is defined and current_menu == 'properties' %}active{% endif %}" href="{{ path('property.index') }}">Acheter</a>
      </li>
    </ul>
        {# {% if app.user %} #}
    {% if is_granted('ROLE_ADMIN') %}
    <ul class="navbar-nav">
      <li class="nav-item pull-right">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}" href="{{ path('admin.property.index') }}">Gérer les biens</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item pull-right">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}" href="{{ path('admin.option.index') }}">Gérer les options</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item pull-right">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}" href="/admin/user">Gérer les users</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item pull-right">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}" href="{{ path('logout') }}">Se déconnecter</a>
      </li>
    </ul>
    {% elseif is_granted('IS_AUTHENTICATED_FULLY') %}
    <ul class="navbar-nav">
      <li class="nav-item pull-right">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}" href="{{ path('profile.index') }}">Mon Compte</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item pull-right">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}" href="{{ path('logout') }}">Se déconnecter</a>
      </li>
    </ul>
    {% else %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item pull-right">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}" href="{{ path('inscription') }}">Inscription</a>
      </li>
      <li class="nav-item pull-right">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}" href="{{ path('connexion') }}">Connexion</a>
      </li>
      {# <li class="nav-item pull-right">
        <a class="nav-link {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}" href="{{ path('admin.property.index') }}">Admin</a>
      </li> #}
    </ul>
    {% endif %}
  </div>
  </div>
</nav>
    {% for message in app.flashes('success') %}
    <div class="container mt-4">
        <div class="alert alert-success">
            {{ message }}
        </div>
    </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
    <div class="container mt-4">
        <div class="alert alert-danger">
            {{ message }}
        </div>
    </div>
    {% endfor %}
  
        {% block body %}{% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>   
        {# <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.js"></script> #}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="{{ asset('/build/app.30219a5f.js') }}"></script>
        {# <script type="text/javascript" src="{{ asset('/build/app.js') }}"></script> #}
        <script type="text/javascript" src="{{ asset('/build/runtime.1ba6bf05.js') }}"></script>
        {# <script type="text/javascript" src="{{ asset('/build/runtime.js') }}"></script> #}
        {# <script type="text/javascript" src="{{ asset('build/vendors~app.js') }}"></script> #}
        {% block javascripts %}{% endblock %}
        {# {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
        {% endblock %} #}
    </body>
</html>
