{% extends 'base.html.twig' %}
{% trans_default_domain "messages" %}

{% block title %}
    {{ 'title.registration'|trans }}
{% endblock title %}

{% block body %}

<div class="container mt-4 mb-4">
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey | trans(error.messagedata, 'security') }}
        </div>
    {% endif %}
    <h1>{{ 'form.registration.title'|trans }}</h1>
        
        {# {{ include ('security/registration/_form.html.twig', {button: "S'inscrire" }) }}  #}
        {{ include ('security/registration/_form.html.twig', {button: "S'inscrire" }) }} 

{% endblock %}